<h1 class="center">Détail Pokémon</h1>
<div class="container">
    <div class="row">
        <div class="col s12 m4 l3" *ngIf="currentPokemon" class="card">
            <div class="card" pkmBorderCard>
                <div class="card-image" style="width: 300px; height: 250px;">
                    <img [src]="currentPokemon.picture" alt="{{currentPokemon.name}}">               
                </div>
                <div class="card-content">
                    <h3 class="card-title"><strong> {{currentPokemon.name}}</strong></h3>
                    <p><strong>Height</strong>: {{currentPokemon.cp}}</p>
                    <p><strong>Weight</strong>: {{currentPokemon.hp}}</p>
                    <p><strong>Types</strong>: 
                        <span *ngFor="let type of currentPokemon.types" class="{{type | pokemonTypeColor}}">
                            {{type}}
                        </span>
                    </p>    
                        <p><strong>Created</strong>: {{currentPokemon.created | date:'medium'}}</p>
                </div>
                <div class="card-action">
                    <a routerLink="/pokements">back</a>
                </div>
            </div>
        </div>
    </div>
</div>